* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.app {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-size: cover;
  background-position: bottom ;
  transition: 0.4 ease-out;
}

.warm {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.normal {
  background-image: url('https://source.unsplash.com/random');
}

main {
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-bar {
  /* display: block; */
  width: 100%;
  padding: 20px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  /* margin-top: -25px; */

}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

